@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
}
:root {
	--color1: #2f3a7e;
	--color2: #faeaeb;
}
body {
	font-family: 'montserrat';
	background-color: var(--color2);
	width: 100vw;
}
body::selection {
	color: white;
	background-color: var(--color1);
}
.btn:hover {
	transition: all 0.3s ease-in-out;
	opacity: 0.9;
}
.footer {
	width: 100%;
	border-top: 1px solid black;
}
.push-notification{
	position: absolute;
	max-width: 220px;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
}
.notification {
	background-color: #2f3a7e;
	padding: 10px;
	padding-inline: 20px;
	border-radius: 5px;
	transform: translateX(250px);
	animation: push-notification 10s;
}
.h7 {
	color: white;
	font-size: 18px;
	font-weight: 500;
}
@keyframes push-notification {
	0%{
		transform: translateX(250px);
	}
	10%{
		transform: translateX(0px);
	}
	50%{
		transform: translateX(0px);
	}
	90%{
		transition: translateX(0px);
	}
	100%{
		transform: translateX(250px);
	}
}
.loader-screen{
	width: 100vw;
	position: absolute;
	z-index: 5;
	background: var(--color2);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	border: 3px solid;
	border-color: var(--color1) var(--color1) transparent transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 3px solid;
	border-color: transparent transparent #FF3D00 #FF3D00;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-sizing: border-box;
	animation: rotationBack 0.5s linear infinite;
	transform-origin: center center;
  }
  .loader::before {
	width: 32px;
	height: 32px;
	border-color: black black transparent transparent;
	animation: rotation 1.5s linear infinite;
  }
	  
  @keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  } 
  @keyframes rotationBack {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(-360deg);
	}
  }
	  

  